---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    {% stylesheet application %}

    <link rel="canonical" href="{{ site.baseurl }}">
    <script>
    // The aerobatic variable will be overridden when rendered on aerobatic.io. We need staticAssetHost to
    // be an empty string for loading plugins when running jekyll locally. In production it will pull
    // straight from the CDN.
    __aerobatic__ = {staticAssetPath: ''}
    </script>
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        {% include_relative _slides/001-title.html %}
        {% include_relative _slides/002-intro.html %}
        {% include_relative _slides/003-what-is-cd.html %}
        {% include_relative _slides/004-why-cd.html %}
        {% include_relative _slides/005-how.html %}
        {% include_relative _slides/006-cd-flow.html %}
        {% include_relative _slides/007-dockerfile.html %}
        {% include_relative _slides/008-buildscript.html %}
        {% include_relative _slides/009-demo.html %}
        {% include_relative _slides/010-end.html %}
      </div>
    </div>

    {% javascript application %}

    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        center: true,
        controls: true,
        progress: true,
        history: true,
        minScale: 1.0,
        maxScale: 1.0,
        {%if page.transition %}
          transition: '{{page.transition}}',
        {% else %}
          transition: 'slide', // none/fade/slide/convex/concave/zoom
        {% endif %}
        // Optional reveal.js plugins
        dependencies: [
          {
            src: __aerobatic__.staticAssetPath + '/reveal.js/plugin/highlight/highlight.js',
            async: true,
            condition: function() {
              return !!document.querySelector( 'pre code' );
            },
            callback: function() {
              hljs.initHighlightingOnLoad();
            }
          }
        ]
      });
    </script>
  </body>
</html>
