<section>
  <h2>Jekyll Continuous Deployment with Docker</h2>
  <img class="no-border" src="/images/jekyll_docker.png"/>
  <p>Originally presented at <a href="http://jekyllconf.com/" target="_blank">JekyllConf 2016</a> - <a href="https://youtu.be/wMlPlKCZfEk" target="_blank">view video</a></p>
</section>
