<section>
  <h2>Who am I?</h2>

  <div style="display: table">
    <div style="display:table-cell; width:50%">
      <img class="no-border headshot" src="/images/david.png">
    </div>
    <div style="display: table-cell; width: 50%; vertical-align: middle; padding-left: 40px; text-align: left;" markdown="1">
      <p>David Von Lehman</p>
      <p>Co-founder Aerobatic.com</p>
      <p><a href="https://twitter.com/davidvlsea">@davidvlsea</a>
    </div>
  </div>
</section>
