<section>
  <h3>How?</h3>

  <ul>
    <li class="fragment" data-fragment-index="0">GitHub pages  <span class="fragment" data-fragment-index="1">(BUT... no plugins!)</span></li>
    <li class="fragment" data-fragment-index="2">You need a Ruby execution container</li>
    <li class="fragment" data-fragment-index="3">Use a CI/CD service</li>
    <li class="fragment" data-fragment-index="4">Roll it yourself with Docker</li>
  </ul>
</section>
