<section class="cd-flow">
  <h2>CD Flow</h2>
  <ol>
    <li class="fragment" data-fragment-index="0">1) Push change to git</li>
    <li class="fragment" data-fragment-index="1">2) Git fires a webhook to some HTTP endpoint</li>
    <li class="fragment" data-fragment-index="2">3) HTTP endpoint provisions Docker container</li>
    <li class="fragment" data-fragment-index="3">4) Docker container pulls latest, builds site, and deploys</li>
  </ol>
</section>
