<section>
  <h3>build.sh</h3>

  <pre><code class="sh">
  #!/usr/bin/env bash
  # Ensure utf-8 locale
  export LC_ALL=en_US.UTF-8
  export JEKYLL_ENV=production
  git clone $REPO_URL source_code
  cd source_code
  bundle install
  jekyll build
  deploy _site
  </code></pre>
</section>
