<section>
  <h2>Thank You</h2>
  <ul>
    <li>This presentation at <a href="https://jekyll-cd-slides.aerobatic.io" target="_blank">https://jekyll-cd-slides.aerobatic.io</a></li>
    <li>Repo at <a href="https://bitbucket.org/aerobatic/jekyll-cd-slides">https://bitbucket.org/aerobatic/jekyll-cd-slides</a></li>
    <li>Jekyll managed hosting and CD with SSL, CDN, and more at <a href="https://www.aerobatic.com">www.aerobatic.com</a></li>
  </ul>
</section>
