/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * Copyright (C) 2015 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../../reveal.js/css/theme/template/mixins";
@import "../../reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #444444;

$mainColor: #ddd;
$headingColor: #fc0;

$mainFontSize: 38px;
$mainFont: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headingFont: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

img {
  border:none !important;
}

.reveal {
  section.present {
    a {
      color: #fc0;
      text-decoration: none;
    }

    li {
      font-weight: 300;
      line-height: 2em;
    }

    img.no-border {
      background:none !important;
      border:none !important;
      box-shadow:none !important;
    }

    img.headshot {
      border-radius: 50% !important;
    }
  }

  section.cd-flow {
    ol {
      display: table;
      border-collapse: separate;
      border-spacing: 20px;

      > li {
        color: #fff;
        display: table-cell;
        width: 25%;
        padding: 20px;
        height: 100%;
        border-radius: 20px;
        background-color: #0389aa;
        line-height: 1.5em;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%);
        text-shadow: 0 1px 3px rgba(0,0,0,0.5);
        box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
      }
    }
  }
}

// Theme template ------------------------------
@import "../../reveal.js/css/theme/template/theme";
// ---------------------------------------------
